.button{
    background: #07f;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    background: #0450a7;
    font-size: 17px;
}

.arrow{
    margin-left: 10px;
}