
.buttonWrapper{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tabBtn{
    width: 60px;
    height: 60px;
    background-color: #262626;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.active{
    background-color: #07f;;
}

.btnWrap{
    margin-top: 40px;
}
